<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>TrackTrack &middot; Boat</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css">
    <link rel="stylesheet" href="//leaflet.github.io/Leaflet.label/leaflet.label.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css">
    <link rel="stylesheet" href="//jtreml.github.io/leaflet.measure/leaflet.measure/leaflet.measure.css">
    <link rel="stylesheet" href="/css/trips.css">
</head>
<body>

    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">TrackTrack <i class="fa fa-anchor"></i> Törns</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                    <li class="active"><a href="/trips"><i class="fa fa-compass"></i> Törns</a></li>
                    <li><a href="/fleet"><i class="fa fa-life-ring"></i> Flottenmanagement</a></li>
                    <li><a href="javascript:void();" class="logout"><i class="fa fa-power-off"></i> Ausloggen</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container" id="map" style="margin-top:50px"></div>
    <div class="container" id="trips"></div>

    <!-- TRIPS -->
    <script type="text/template" id="tripsTpl">
        <div id="positionSlider" style="display:none">
            <input id="positionSliderRange" type="range" min="0" max="0" step="1" />
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="page-header">
                    <h1><small>Boot wählen:</small</h1>
                </div>
            </div>
            <div class="col-md-9">
                <div class="page-header">
                    <h1><i class="fa fa-compass"></i> Törns</h1>
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom:50px">
            <div class="col-md-3">
                <ul class="nav nav-pills nav-stacked">
                    <% for(var i in boats) { %>
                        <% if(i == 0) { %>
                            <li class="active"><a href="#/trips/<%= boats[i].id %>" class="loadTrip"><%= boats[i].name %></a></li>
                        <% } else { %>
                            <li><a href="#"><%= boats[i].name %></a></li>
                        <% } %>
                    <% } %>
                </ul>
            </div>
            <div class="col-md-9" id="tripContent"></div>
        </div>
    </script>

    <script type="text/template" id="fleetTpl">
        <div class="row" style="margin-top:50px">
            <div class="col-md-12">
                <div class="page-header">
                    <h1>Flottenmanagement</h1>
                </div>
            </div>
        </div
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <th>Name</th>
                        <th>Hersteller</th>
                        <th>Modell</th>
                        <th>Länge ü.A.</th>
                    </thead>
                    <% for(var i in boats) { %>
                        <tr>
                            <td><%= boats[i].name %></td>
                            <td><%= boats[i].manufacturer %></td>
                            <td><%= boats[i].model %></td>
                            <td><%= boats[i].lengthOverAll %></td>
                        </tr>
                    <% } %>
                </table>
            </div>
        </div>
    </script>

    <script type="text/template" id="tripContentTpl">
        <div class="modal fade" id="modalEmbed">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Schließen</span></button>
                    <h4 class="modal-title"><i class="fa fa-code"></i> Törn auf Webseite einbinden</h4>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-12">

                            <div class="form-group">
                                <label>Code:</label>
                                <textarea id="embedCode" class="form-control"></textarea>
                            </div>
       
                            <div class="form-group">
                                <label for="embedPreview">Vorschau:</label>
                                <iframe src="https://tracktrack.io/embed/bJNpOwZd/?follow=1" frameborder="0" width="100%" height="250" id="embedPreview"></iframe>
                            </div>

                            <div class="well form-group" style="margin-bottom:0px!important;">

                                <input type="hidden" id="embedKey" value="">

                                <!-- size -->
                                <div class="form-inline">
                                    <div class="form-group options-group">
                                        <label class="options-label">Größe:</label>
                                        <input type="number" class="form-control embedPreviewChange" id="embedWidth" placeholder="Breite" value="500" min="1" max="9999">
                                        &nbsp;&times;&nbsp;
                                        <input type="number" class="form-control embedPreviewChange" id="embedHeight" placeholder="Höhe" value="300" min="1" max="9999">
                                        &nbsp;px
                                    </div> 

                                    <div class="form-group options-group followVals">
                                        <label class="options-label">Zoom:</label>
                                        <div class="radio">
                                          <label>
                                            <input type="radio" class="embedPreviewChange" name="follow" value="1"> &nbsp;Dem Boot folgen
                                          </label>
                                        </div>
                                        <div class="radio" style="padding-left:10px">
                                          <label>
                                            <input type="radio" class="embedPreviewChange" name="follow" value="0" checked> &nbsp;Tourübersicht anzeigen
                                          </label>
                                        </div>
                                    </div>

                                    <div class="form-group options-group assetsVal">
                                        <label class="options-label">Anzeige:</label>

                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" class="embedPreviewChange" id="assets" value="1" checked>  &nbsp;Hafenanlagen anzeigen
                                            </label>
                                        </div>

                                        <div class="checkbox" style="padding-left:10px">
                                            <label>
                                                <input type="checkbox" class="embedPreviewChange" id="labels" value="1" checked>  &nbsp;Labels anzeigen
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>

        <div class="modal fade" id="modalAnalysis">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Schließen</span></button>
                        <h4 class="modal-title"><i class="fa fa-line-chart"></i> Trip-Auswertung</h4>
                    </div>
                    <div class="modal-body" style="width:100%">
                        <div id="speedChart" style="width: 850px; height: 400px; margin: 0 auto"></div>
                        <div id="courseChart" style="width: 850px; height: 400px; margin: 0 auto"></div>
                    </div>
                </div>
            </div>
        </div>

        <table class="table table-responsive table-hover">
            <thead>
                <th></th>
                <th>Start</th>
                <th>Stop</th>
                <th>Distanz</th>
                <th>Vmax</th>
                <th>Positionen</th>
                <th>Auslöser</th>
                <th></th>
                <th></th>
            </thead>
        <% for(var i in trips) { %>
            <% if(trips[i].amount >= 1) { %>
            <tr>
                <td class="actions" data-id="<%= trips[i].id %>">
                    <a href="javascript:void(0);" class="text-danger deleteTrip" data-toggle="tooltip" data-placement="top" title="Törn löschen"><i class="fa fa-trash-o"></i></a>
                </td>
                <td><%= moment(trips[i].start).format("DD.MM.YYYY HH:mm:ss") %></td>
                <td>
                    <% if(trips[i].finish) { %>
                        <%= moment(trips[i].finish).format("DD.MM.YYYY HH:mm:ss") %>
                    <% } %>
                </td>
                <td>
                    <% if(trips[i].distance) { %>   
                        <%= trips[i].distance.toFixed(1) %> 
                        sm
                    <% } %>
                </td>
                <td>
                <% if(trips[i].vmax) { %>   
                        <%= trips[i].vmax.toFixed(1) %> 
                        ktn
                    <% } %>
                </td>
                <td><%= trips[i].amount %></td>
                <td>
                    <% if(trips[i].type == 1) { %>
                        Auslaufen
                    <% } else if(trips[i].type == 0) { %>
                        Tageswechsel
                    <% } else { %>
                        Manuell
                    <% } %>
                </td>
                <td class="actions" data-id="<%= trips[i].id %>" data-key="<%= trips[i].key %>" >
                    <a href="javascript:void(0);" class="showTrip" data-toggle="tooltip" data-placement="top" title="auf Karte anzeigen">anzeigen</a>
                </td>
                <td class="actions" data-id="<%= trips[i].id %>" data-key="<%= trips[i].key %>" >
                    <a href="javascript:void(0);" class="analyseTrip" data-toggle="tooltip" data-placement="top" title="Auswertung ansehen"><i class="fa fa-line-chart"></i></a>

                    <a href="javascript:void(0);" class="embedTrip" data-toggle="tooltip" data-placement="top" title="auf Website einbinden"><i class="fa fa-code"></i></a>
                </td>
            </tr>
            <% } %>
        <% } %>
        </table>
    </script>

    <script type="text/template" id="pathPopupTpl">
        <table class="table">
            <tr>
                <th style="border-top:0px!important;">Uhrzeit</th>
                <td style="border-top:0px!important;"><%= moment(position.timestamp).format("DD.MM.YYYY HH:mm:ss") %></td>
            </tr>
            <tr>
                <th>Status</th>
                <td>
                    <% if(position.anchored == 1) { %>
                        vor Anker
                    <% } else if(position.speed > 0.8) { %>
                        in Fahrt
                    <% } else { %>
                        ohne Fahrt
                    <% } %>
                </td>
            </tr>
            <tr>
                <th>Latitude</th>
                <td><%= decToCoord(position.latitude) %> N</td>
            </tr>

            <tr>
                <th>Longitude</th>
                <td><%= decToCoord(position.longitude) %> E</td>
            </tr>
            <tr>
                <th>HDOP</th>
                <td><%= position.hdop %></td>
            </tr>
            <tr>
                <th>Geschwindigkeit</th>
                <td><%= position.speed.toFixed(1) %> ktn</td>
            </tr>
            <tr>
                <th>Kurs</th>
                <td>
                    <% if(position.course >= 0) { %>
                        <%= position.course %>°
                    <% } %>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="button" class="btn btn-link addLabelBtn"><i class="fa fa-pencil"></i> Label hier anlegen</button>
                </td>
            </tr>
        </table>
    </script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
    <script src="//jtreml.github.io/leaflet.measure/leaflet.measure/leaflet.measure.js"></script>
    <script src="//leaflet.github.io/Leaflet.label/leaflet.label.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.6.0/moment.min.js"></script>
    <script src="//code.highcharts.com/highcharts.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/libs/Leaflet.BoatMarker.min.js"></script>
    <script src="/js/base.js"></script>
    <script src="/js/trips.js"></script>
</body>
</html>
